global
  user haproxy
  group haproxy
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend web
  bind :80
  default_backend liferay-dxp-cluster

backend liferay-dxp-cluster
  cookie JSESSIONID prefix nocache
  server s1 liferay-dxp1:8080 check cookie dxp1
  server s2 liferay-dxp2:8080 check cookie dxp2

